body {
    background-color: rgb(170, 170, 170);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#diferente {
    color: darkblue;
}

.teste {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nome { 
    font-family: cursive;
}

#torto {
    text-align: right;
}

#menor {
    color: darkred;
}

mark {
    background-color: lightcyan;
    color: darkviolet;
}